body{
    background: #d9a7c7;
    background: -webkit-linear-gradient(90deg, #dab9cf, #f492d0);
    background: linear-gradient(90deg, #dab9cf, #f492d0)
}

.todoBackground{
    max-width: 500px;
}

.todoInput,
.todoInput:focus{
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 500px;
}

.todos li{
    background: #ffffff;
    color: red;
}

.delete{
    cursor: pointer;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    background: #d9a7c7;
    background: -webkit-linear-gradient(to right, #cbc0c7, #d9a7c7, #cbc0c7);
    background: linear-gradient(to right, #cbc0c7, #d9a7c7, #cbc0c7);
    border-top: 5px solid #DDD;
    padding-top: 20px;
    padding-bottom: 40px;
    color:#000;
} 